DirectoryFileCount/Connected Services/DirectoryFileCountWCFServer/DirectoryFileCountWCFServerIIS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DirectoryFileCountWCFServerIIS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51863/DirectoryFileCountWCFServerIIS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51863/DirectoryFileCountWCFServerIIS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51863/DirectoryFileCountWCFServerIIS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DirectoryFileCount.DBModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDirectoryFileCountSimulator_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IDirectoryFileCountSimulator_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectoryFileCountSimulator_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IDirectoryFileCountSimulator_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectoryFileCountSimulator_UserExists_InputMessage">
    <wsdl:part name="parameters" element="tns:UserExists" />
  </wsdl:message>
  <wsdl:message name="IDirectoryFileCountSimulator_UserExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectoryFileCountSimulator_GetUserByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmail" />
  </wsdl:message>
  <wsdl:message name="IDirectoryFileCountSimulator_GetUserByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectoryFileCountSimulator_GetUserByGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByGuid" />
  </wsdl:message>
  <wsdl:message name="IDirectoryFileCountSimulator_GetUserByGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByGuidResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectoryFileCountSimulator_AddRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRequest" />
  </wsdl:message>
  <wsdl:message name="IDirectoryFileCountSimulator_AddRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IDirectoryFileCountSimulator">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectoryFileCountSimulator/GetAllUsers" message="tns:IDirectoryFileCountSimulator_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectoryFileCountSimulator/GetAllUsersResponse" message="tns:IDirectoryFileCountSimulator_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectoryFileCountSimulator/AddUser" message="tns:IDirectoryFileCountSimulator_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectoryFileCountSimulator/AddUserResponse" message="tns:IDirectoryFileCountSimulator_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectoryFileCountSimulator/UserExists" message="tns:IDirectoryFileCountSimulator_UserExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectoryFileCountSimulator/UserExistsResponse" message="tns:IDirectoryFileCountSimulator_UserExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectoryFileCountSimulator/GetUserByEmail" message="tns:IDirectoryFileCountSimulator_GetUserByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectoryFileCountSimulator/GetUserByEmailResponse" message="tns:IDirectoryFileCountSimulator_GetUserByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByGuid">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectoryFileCountSimulator/GetUserByGuid" message="tns:IDirectoryFileCountSimulator_GetUserByGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectoryFileCountSimulator/GetUserByGuidResponse" message="tns:IDirectoryFileCountSimulator_GetUserByGuid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectoryFileCountSimulator/AddRequest" message="tns:IDirectoryFileCountSimulator_AddRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectoryFileCountSimulator/AddRequestResponse" message="tns:IDirectoryFileCountSimulator_AddRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDirectoryFileCountSimulator" type="tns:IDirectoryFileCountSimulator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IDirectoryFileCountSimulator/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IDirectoryFileCountSimulator/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <soap:operation soapAction="http://tempuri.org/IDirectoryFileCountSimulator/UserExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <soap:operation soapAction="http://tempuri.org/IDirectoryFileCountSimulator/GetUserByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByGuid">
      <soap:operation soapAction="http://tempuri.org/IDirectoryFileCountSimulator/GetUserByGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequest">
      <soap:operation soapAction="http://tempuri.org/IDirectoryFileCountSimulator/AddRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DirectoryFileCountWCFServerIIS">
    <wsdl:port name="BasicHttpBinding_IDirectoryFileCountSimulator" binding="tns:BasicHttpBinding_IDirectoryFileCountSimulator">
      <soap:address location="http://localhost:51863/DirectoryFileCountWCFServerIIS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>